<ion-view view-title="Home Page">
  <ion-content>
    <table id="board">
      <tr>
        <td ng-click="move()"></td>
        <td ng-click="move()"></td>
        <td ng-click="move()"></td>
      </tr>
      <tr>
        <td ng-click="move()"></td>
        <td ng-click="move()"></td>
        <td ng-click="move()"></td>
      </tr>
      <tr>
        <td ng-click="move()"></td>
        <td ng-click="move()"></td>
        <td ng-click="move()"></td>
      </tr>
    </table>
  </ion-content>
</ion-view>
