<ion-view view-title="Home Page">
  <ion-content>
    <table id="board">
      <tr>
        <td id="0" ng-click="move(0)"> </td>
        <td id="1" ng-click="move(1)"> </td>
        <td id="2" ng-click="move(2)"> </td>
      </tr>
      <tr>
        <td id="3" ng-click="move(3)"> </td>
        <td id="4" ng-click="move(4)"> </td>
        <td id="5" ng-click="move(5)"> </td>
      </tr>
      <tr>
        <td id="6" ng-click="move(6)"> </td>
        <td id="7" ng-click="move(7)"> </td>
        <td id="8" ng-click="move(8)"> </td>
      </tr>
    </table>
  </ion-content>
</ion-view>
